---
category: news
title: "PandaTS Collaborates with Google Cloud, Bringing AI to Document Verification"
excerpt: "Vision AI’s sophisticated optical character recognition capabilities ... as well as providing them with a competitive advantage during busy periods. “To start with, we expect the new module to eliminate uploads that have to be manually rejected for ..."
publishedDateTime: 2021-03-10T08:29:00Z
originalUrl: "https://www.financemagnates.com/thought-leadership/pandats-collaborates-with-google-cloud-bringing-ai-to-document-verification/"
webUrl: "https://www.financemagnates.com/thought-leadership/pandats-collaborates-with-google-cloud-bringing-ai-to-document-verification/"
ampWebUrl: "https://www.financemagnates.com/thought-leadership/pandats-collaborates-with-google-cloud-bringing-ai-to-document-verification/amp/"
cdnAmpWebUrl: "https://www-financemagnates-com.cdn.ampproject.org/c/s/www.financemagnates.com/thought-leadership/pandats-collaborates-with-google-cloud-bringing-ai-to-document-verification/amp/"
type: article
quality: 54
heat: -1
published: false

provider:
  name: Finance Magnates
  domain: financemagnates.com

topics:
  - AI

images:
  - url: "https://www.financemagnates.com/wp-content/uploads/2021/03/Inside-post-header-4.jpg"
    width: 880
    height: 360
    isCached: true

related:
  - title: "GreenPro AI Accounting Enters into Strategic Collaboration Agreement with iBizzCloud AI-Robotax"
    excerpt: "GreenPro AI Accounting is targeting 15,000 users of iBizzCloud AI-Robotax ... We also operate venture capital businesses, including business development for start-ups and high growth companies, covering finance, technology, FinTech, and health and wellness."
    publishedDateTime: 2021-03-13T00:47:00Z
    webUrl: "https://www.marketwatch.com/press-release/greenpro-ai-accounting-enters-into-strategic-collaboration-agreement-with-ibizzcloud-ai-robotax-2021-03-12"
    type: article
    provider:
      name: MarketWatch
      domain: marketwatch.com
    quality: 72
    images:
      - url: "https://mw3.wsj.net/mw5/content/logos/mw_logo_social.png"
        width: 1200
        height: 630
        isCached: true

secured: "d27dlu6T+Xsfwug4/iNvWCkkMkUlrlMY/LQFCfa/DQEIgy3LuIy8IqYI+VWxX+wIPmIsF7PI6UienFh50nxBLhRodegOt82Jv3Z4FVdCYkYwpPFhsosd5NhLgGQxRq5YkrZrQYYH8ztYXD8W8cvs4MgDmEOuQGXZvSj6d1BATIan9T6+nFZp0/TZdwCfeEaNbyOSbMs+eJ8Yyy6a/Q9BtF8UxUpKiXOK0/UvmoBxg8bovzHJCMiK1Y3MF2hVUuwTbTDsQa7WkETKK/x3KRF9BAEC77aMhbULMXrNox1mpaqRh5bhxOCOhaliifu0NC1wzjdixZ5ozClJeZbHbVqGPqtBB4asIwFsZPWhX/qBEnI=;qXUYD3bDHEcUZQSdemUxxA=="
---

