---
category: news
title: "British Esports partners with IBM, Yoti on biometric age verification"
excerpt: "The British Esports Association has announced plans to restrict underage participation through the use of Yoti’s biometrics-based age checks."
publishedDateTime: 2021-02-18T22:28:00Z
originalUrl: "https://www.biometricupdate.com/202102/british-esports-partners-with-ibm-yoti-on-biometric-age-verification"
webUrl: "https://www.biometricupdate.com/202102/british-esports-partners-with-ibm-yoti-on-biometric-age-verification"
type: article
quality: 24
heat: 24
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - IBM AI
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2021/02/12130147/online-age-verification-small.jpg"
    width: 750
    height: 500
    isCached: true

secured: "uJ1uxku/ZxKMba5peQxoFL5QwWzyCl2AcPvz7wIRJd7BkOJa+wQnqTn2cBzwju4fPegTiKhVoq5aiBK+CLh8I9xGTvxuvyCVBugaGK6LUkr6ih+7PmI+oGK4kRIsG59DE2eYXmezgSt1ykM2uwrZCdzZH36OJZpB9lR5EnfbsaG8mMtaW6QfR5T1HAn2zi8YNQxHir659wSn/mtEtec0J4H4/JBNigtRd+H7T5GYrDO8giXb6hjYYWAugVeqeOuh/y+ap58pKbyVcs87kNoIsjrEnA/OwqBYYNfSCDrpWmm57s9RnnDIO+2OMUKxSx8Of26novilzrsm5NXZ5wG8i+9EDElOitg6zyUsPmurHYHhDTZe2eUw/LdQJTIr8DwUzWx34cHtOBsCb/xPK4RM8dISd118EsNcAXXzc0Ml3JutoL263PTvMJQhjS544im+/Os1EcExB0eV4VIS34c26AUCoY68GC6o9PddAd2QBlEsxFuaNw0kqOnUDSuQ4vwDeYMRc7DEidUekY89B38GjQ==;kNxzYLvOUBub3t4hwfRk0g=="
---

