---
category: news
title: "Brazil’s Government to Use Face Biometrics For Pensioner Identity Verification"
excerpt: "The Brazilian government will be using biometric facial recognition to verify the identities of pensioners in the country."
publishedDateTime: 2020-12-01T21:25:00Z
originalUrl: "https://mobileidworld.com/brazils-government-to-use-face-biometrics-for-pensioner-identity-verification/"
webUrl: "https://mobileidworld.com/brazils-government-to-use-face-biometrics-for-pensioner-identity-verification/"
type: article
quality: 20
heat: -1
published: false

provider:
  name: Mobile ID News
  domain: mobileidworld.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://mobileidworld.com/wp-content/uploads/facial.jpeg"
    width: 400
    height: 260
    isCached: true

related:
  - title: "Brazil trials facial recognition with retired public servants"
    excerpt: "The Brazilian government has announced a facial recognition trial with retired public servants to support the process of periodic verification that the beneficiary is alive in order to continue receiving of benefits."
    publishedDateTime: 2020-11-30T13:23:00Z
    webUrl: "https://www.zdnet.com/article/brazil-trials-facial-recognition-with-retired-public-servants/"
    ampWebUrl: "https://www.zdnet.com/google-amp/article/brazil-trials-facial-recognition-with-retired-public-servants/"
    cdnAmpWebUrl: "https://www-zdnet-com.cdn.ampproject.org/c/s/www.zdnet.com/google-amp/article/brazil-trials-facial-recognition-with-retired-public-servants/"
    type: article
    provider:
      name: ZDNet
      domain: zdnet.com
    quality: 69
  - title: "Translation: Must We Be Slaves to Facial Recognition?"
    excerpt: "On WeChat earlier this month, user @与归随笔 described their reaction to learning how greatly inconvenienced elderly people can be by facial feature data requirements for activating social security benefits."
    publishedDateTime: 2020-11-30T20:54:00Z
    webUrl: "https://chinadigitaltimes.net/2020/11/translation-must-we-be-slaves-to-facial-recognition/"
    type: article
    provider:
      name: China Digital Times
      domain: chinadigitaltimes.net
    quality: 39
    images:
      - url: "https://chinadigitaltimes.net/wp-content/uploads/2019/09/ad2.jpg"
        width: 308
        height: 308
        isCached: true
  - title: "Behind the Rise of China's Facial-Recognition Giants"
    excerpt: "\"Megvii, one of four highly valued Chinese facial-recognition startups, has filed for an IPO. Most of its revenue comes from surveillance and security"
    publishedDateTime: 2020-12-01T00:06:00Z
    webUrl: "https://www.linkedin.com/posts/omerwilson_behind-the-rise-of-chinas-facial-recognition-activity-6575262230235975680-vxgl"
    type: article
    provider:
      name: LinkedIn
      domain: linkedin.com
    quality: 24
    images:
      - url: "https://media-exp1.licdn.com/dms/image/C4D34AQEGxe2rzFBNZQ/ugc-proxy-shrink_800/0?e=1606874400&v=beta&t=HPZRI68RHfLCMSppuIvef5D0-Ddpu3zMrf_pSqx-DOM"
        width: 800
        height: 450
        isCached: true
  - title: "Facial recognition systems improve in recognising masked faces"
    excerpt: "Facial recognition technology created after the onset of the Covid-19 pandemic shows that some software developers have made demonstrable progress at"
    publishedDateTime: 2020-12-02T11:20:00Z
    webUrl: "https://www.canindia.com/facial-recognition-systems-improve-in-recognising-masked-faces/"
    type: article
    provider:
      name: Canindia.com
      domain: canindia.com
    quality: 19

secured: "eaQsMVMQA2V6gv/DHNhlT6gdJKPTnfEiiV2LJlXLKjwyaVfcwpvfZQI2Hb0IQ68pFgngwzpRlnmxahOcSYZjtP0Jga9yYihSLX7nkBK3ktDCA5Z1ohlEhJhTdDC3xepprnipSOSrCnzf8YuhKNfBeulU/7iKKpj1BYqFhAcid/7HGkquRV/2x9WG2LtBB/Z0eWSUDO7U0mTDiIEnmZueO9pAKZUxxvinKB4YX2vraem9JMOydn5T1el4CoS7VZxYAFbyCZsaQc0qf3smDsIFmmifqhngX52/syD3s4G72dRlTkjEwyyXQI1o7Bb2JjhQRpvYcO8sgWVqnQGvO2bVnOsuswkL56xdfzHmDx6rVfA=;JZZkAgn8GXoc1aKO4YVMgg=="
---

