---
category: news
title: "Self-driving semi travels across Ohio in test run"
excerpt: "On interstates and the turnpike, the lead truck was driven manually while the driver of the second truck engaged its automated platooning technology."
publishedDateTime: 2020-10-28T17:57:00Z
originalUrl: "https://www.dispatch.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
webUrl: "https://www.dispatch.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
ampWebUrl: "https://amp.dispatch.com/amp/3749218001"
cdnAmpWebUrl: "https://amp-dispatch-com.cdn.ampproject.org/c/s/amp.dispatch.com/amp/3749218001"
type: article
quality: 44
heat: 44
published: false

provider:
  name: Columbus Dispatch
  domain: dispatch.com

topics:
  - AI in Autos
  - AI

images:
  - url: "https://www.gannett-cdn.com/presto/2020/10/28/PPOC/fc11697a-25ac-4c28-ac27-1ea68c005da9-IMG_0252f8f40dd0-ba7c-4f63-bb61-41f10373595b.jpg?auto=webp&crop=4031,2268,x0,y373&format=pjpg&width=1200"
    width: 1200
    height: 675
    isCached: true

related:
  - title: "Survey Highlights Absence of Consumer Interest in BEVs, Self-Driving Technologies"
    excerpt: "However, many automakers are investing heavily in electrification and self-driving technology despite an absence of substantive consumer interest in either, according to the recently released J.D. Power 2020 Q3 Mobility Confidence Index Study fueled by SurveyMonkey."
    publishedDateTime: 2020-10-28T15:22:00Z
    webUrl: "https://www.tdworld.com/distributed-energy-resources/article/21146109/survey-highlights-absence-of-consumer-interest-in-bevs-selfdriving-technologies"
    type: article
    provider:
      name: T&D
      domain: tdworld.com
    quality: 19
    images:
      - url: "https://base.imgix.net/files/base/ebm/tdworld/image/2020/10/dreamstime_m_40833531.5f9989d09687e.png?auto=format&fit=max&w=1200"
        width: 1200
        height: 800
        isCached: true
  - title: "Self-driving trucks from Pittsburgh deliver food to needy in Ohio, Michigan"
    excerpt: "Two self-driving trucks delivered more than 40,000 pounds of food last week from the Greater Pittsburgh Community Food Bank to needy families in Toledo, Ohio. The delivery was part of a test drive featuring two human-guided,"
    publishedDateTime: 2020-10-29T12:31:00Z
    webUrl: "https://triblive.com/business/technology/self-driving-trucks-from-pittsburgh-deliver-food-to-needy-in-ohio-michigan/"
    type: article
    provider:
      name: TribLIVE.com
      domain: triblive.com
    quality: 2

secured: "+r0yoEmJGP9GKwN3HBMQTtRrAVWsgP/aq1yDCwZ5/D4y5wsCoCvS5Deaoq6lr4pJnv1187nq+HvX6b9I7XjzDQTp+plp+JlGMHP4E8YBoa9jQj6DwVALEt8mVBcQdffRnQc7P+jY67CPyORFVdWnDEyx6EXK7Iu8W4q2yknykIrASbFLfMnpOs4BJTkDSgPkmanJN7tAQYIxg7o0tAe33XgGBRygv/pv0Xw0qmHEUqZmIGVhp/TpOGJUunA69ub7uiHQu5PIgpiSL4Zlilf0FrCNmzxeJ7V8+5xyDBQBrdSImVW4ujp18/jk7TsBa2M7eg+nPPUOhjfD9BiSI5+lGd9II5MAc3lHxCH9mFsD/Tk=;xX+XsDs7/k35aV+1qyufxQ=="
---

