---
category: news
title: "Self-driving semi travels across Ohio in test run"
excerpt: "On interstates and the turnpike, the lead truck was driven manually while the driver of the second truck engaged its automated platooning technology."
publishedDateTime: 2020-10-28T18:01:00Z
originalUrl: "https://www.cincinnati.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
webUrl: "https://www.cincinnati.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
ampWebUrl: "https://amp.cincinnati.com/amp/3749218001"
cdnAmpWebUrl: "https://amp-cincinnati-com.cdn.ampproject.org/c/s/amp.cincinnati.com/amp/3749218001"
type: article
quality: 44
heat: 44
published: false

provider:
  name: Cincinnati Enquirer
  domain: cincinnati.com

topics:
  - AI in Autos
  - AI

images:
  - url: "https://www.gannett-cdn.com/presto/2020/10/28/PPOC/fc11697a-25ac-4c28-ac27-1ea68c005da9-IMG_0252f8f40dd0-ba7c-4f63-bb61-41f10373595b.jpg?auto=webp&crop=4031,2268,x0,y373&format=pjpg&width=1200"
    width: 1200
    height: 675
    isCached: true

related:
  - title: "Self-driving shuttle takes on traffic"
    excerpt: "MERRIFIELD, Va. -- The future of transportation arrived in northern Virginia, looking like a big blue toaster on wheels that seats six and drives itself through the region's notorious traffic. State and local officials debuted the Relay system Thursday, an ..."
    publishedDateTime: 2020-10-24T08:08:00Z
    webUrl: "https://www.arkansasonline.com/news/2020/oct/24/self-driving-shuttle-takes-on-traffic/?business"
    type: article
    provider:
      name: Arkansas Democrat-Gazette
      domain: arkansasonline.com
    quality: 24
    images:
      - url: "https://wehco.media.clients.ellingtoncms.com/img/photos/2020/10/24/resized_150246-4d1shuttle1024rgb_47-31042_t600.JPG?4326734cdb8e39baa3579048ef63ad7b451e7676"
        width: 600
        height: 399
        isCached: true
  - title: "Survey Highlights Absence of Consumer Interest in BEVs, Self-Driving Technologies"
    excerpt: "However, many automakers are investing heavily in electrification and self-driving technology despite an absence of substantive consumer interest in either, according to the recently released J.D. Power 2020 Q3 Mobility Confidence Index Study fueled by SurveyMonkey."
    publishedDateTime: 2020-10-28T15:22:00Z
    webUrl: "https://www.tdworld.com/distributed-energy-resources/article/21146109/survey-highlights-absence-of-consumer-interest-in-bevs-selfdriving-technologies"
    type: article
    provider:
      name: T&D
      domain: tdworld.com
    quality: 19
    images:
      - url: "https://base.imgix.net/files/base/ebm/tdworld/image/2020/10/dreamstime_m_40833531.5f9989d09687e.png?auto=format&fit=max&w=1200"
        width: 1200
        height: 800
        isCached: true

secured: "pzuHFInT1QqkrtylAprKZ0kWTyffHrA+BoltzU6riH7LxhLTQL//oChGOhceUk0FoPQofjD44eC5htDILmYdOQU5sOg5plkINA6ZE4TTh+hOHFwm7JoH6yTxrOHGh4SK0xNadqqsPcjlOjvjsF0C7ds4qaejyVTyr/AFPZZ3HcbrcIC7dOgrSS6R0x5nLt+9j4ijGmqQ4IX6fc53U2YXTb2+/eV/WaJa6vUs9HvrrtnV0MxgoXQYabmHuF+TRQvCOjD5YJpnOCuvfgmRNdSPssPKrwfW2K2ekgrhINutqVwZPOO6oWsUnkNSKCnQFCaaqKx9wT8n3OlZ5sf9/7n26jPIrRTjaQPLAdd0EsbtN9I=;I9lTlP2VUdzwWfWY2OeI2A=="
---

