---
category: news
title: "Self-driving semi travels across Ohio in test run"
excerpt: "On interstates and the turnpike, the lead truck was driven manually while the driver of the second truck engaged its automated platooning technology."
publishedDateTime: 2020-10-28T17:57:00Z
originalUrl: "https://www.dispatch.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
webUrl: "https://www.dispatch.com/story/news/2020/10/28/self-driving-semi-technology-lead-truck-test-run-across-ohio/3749218001/"
ampWebUrl: "https://amp.dispatch.com/amp/3749218001"
cdnAmpWebUrl: "https://amp-dispatch-com.cdn.ampproject.org/c/s/amp.dispatch.com/amp/3749218001"
type: article
quality: 44
heat: 64
published: false

provider:
  name: Columbus Dispatch
  domain: dispatch.com

topics:
  - AI in Autos
  - AI

images:
  - url: "https://www.gannett-cdn.com/presto/2020/10/28/PPOC/fc11697a-25ac-4c28-ac27-1ea68c005da9-IMG_0252f8f40dd0-ba7c-4f63-bb61-41f10373595b.jpg?auto=webp&crop=4031,2268,x0,y373&format=pjpg&width=1200"
    width: 1200
    height: 675
    isCached: true

related:
  - title: "Survey Highlights Absence of Consumer Interest in BEVs, Self-Driving Technologies"
    excerpt: "However, many automakers are investing heavily in electrification and self-driving technology despite an absence of substantive consumer interest in either, according to the recently released J.D. Power 2020 Q3 Mobility Confidence Index Study fueled by SurveyMonkey."
    publishedDateTime: 2020-10-28T15:22:00Z
    webUrl: "https://www.tdworld.com/distributed-energy-resources/article/21146109/survey-highlights-absence-of-consumer-interest-in-bevs-selfdriving-technologies"
    type: article
    provider:
      name: T&D
      domain: tdworld.com
    quality: 19
    images:
      - url: "https://base.imgix.net/files/base/ebm/tdworld/image/2020/10/dreamstime_m_40833531.5f9989d09687e.png?auto=format&fit=max&w=1200"
        width: 1200
        height: 800
        isCached: true
  - title: "Self-driving trucks from Pittsburgh deliver food to needy in Ohio, Michigan"
    excerpt: "Two self-driving trucks delivered more than 40,000 pounds of food last week from the Greater Pittsburgh Community Food Bank to needy families in Toledo, Ohio. The delivery was part of a test drive featuring two human-guided,"
    publishedDateTime: 2020-10-29T12:31:00Z
    webUrl: "https://triblive.com/business/technology/self-driving-trucks-from-pittsburgh-deliver-food-to-needy-in-ohio-michigan/"
    type: article
    provider:
      name: TribLIVE.com
      domain: triblive.com
    quality: 2

secured: "9it8xKePD2FUUKVnn9O7qsQrheoEkYVu4uHNwiiV4IvkHy0jlWCErFA/zCdVYQxSZjGRPBawmujy+rKQ6yZAomubtiHb/JSfsEyUgKwC05TIBDceojyMvS59SwburX5CrXbncQE/+1uPx9zpZULzse3gddMK5dEaj5xET/cIvGnvlpV0rM8eSFp6Nyc+v4+HwWAuYS/80fGIRpjJkgQRwg0PMgvfaZb1q6FiuVSjjjzUDhDvWVpCmJG/Sma1053V/avvtet1tRcEPnCVtea1jeAw4jqQmxGe7l4uAPL8PJM6eN9u/wktDn3cY1EU7GABIF8dA8b5urY8sht6OAGTR//a0FHEiQvA5w60mD4iZrI=;V72Go3NiS1UTk9XmYW54+Q=="
---

