---
category: news
title: "Brazil’s Government to Use Face Biometrics For Pensioner Identity Verification"
excerpt: "The Brazilian government will be using biometric facial recognition to verify the identities of pensioners in the country."
publishedDateTime: 2020-12-01T21:25:00Z
originalUrl: "https://mobileidworld.com/brazils-government-to-use-face-biometrics-for-pensioner-identity-verification/"
webUrl: "https://mobileidworld.com/brazils-government-to-use-face-biometrics-for-pensioner-identity-verification/"
type: article
quality: 20
heat: -1
published: false

provider:
  name: Mobile ID News
  domain: mobileidworld.com

topics:
  - Computer Vision
  - AI

images:
  - url: "https://mobileidworld.com/wp-content/uploads/facial.jpeg"
    width: 400
    height: 260
    isCached: true

related:
  - title: "Gartner to biometrics firms: Do better with facial recognition. Somehow"
    excerpt: "The facial recognition community continues to speak in circles when ethics is the topic. Notable business-to-business tech analyst Gartner is the latest with indistinct advice that amounts to"
    publishedDateTime: 2020-12-01T18:50:00Z
    webUrl: "https://www.biometricupdate.com/202012/gartner-to-biometrics-firms-do-better-with-facial-recognition-somehow"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 39
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2020/04/10124235/facial-recognition-crowds.jpg"
        width: 1920
        height: 1005
        isCached: true
  - title: "NEC facial recognition adopted by \"Star Alliance Biometrics\" platform"
    excerpt: "TOKYO, Dec 2, 2020 - (J) - NEC Corporation (TSE: 6701) announced today that Lufthansa Airlines and Swiss International Airlines (SWISS), Lufthansa Group airline members of Star Alliance, launched the \"Star Alliance Biometrics\" identity verification platform utilizing NEC's facial recognition technologies at Frankfurt Airport and Munich Airport."
    publishedDateTime: 2020-12-02T03:21:00Z
    webUrl: "https://www.benzinga.com/pressreleases/20/12/a18608227/nec-facial-recognition-adopted-by-star-alliance-biometrics-platform"
    ampWebUrl: "https://amp.benzinga.com/amp/content/18608227"
    cdnAmpWebUrl: "https://amp-benzinga-com.cdn.ampproject.org/c/s/amp.benzinga.com/amp/content/18608227"
    type: article
    provider:
      name: Benzinga.com
      domain: benzinga.com
    quality: 39

secured: "eaQsMVMQA2V6gv/DHNhlT6gdJKPTnfEiiV2LJlXLKjwyaVfcwpvfZQI2Hb0IQ68pFgngwzpRlnmxahOcSYZjtP0Jga9yYihSLX7nkBK3ktDCA5Z1ohlEhJhTdDC3xepprnipSOSrCnzf8YuhKNfBeulU/7iKKpj1BYqFhAcid/7HGkquRV/2x9WG2LtBB/Z0eWSUDO7U0mTDiIEnmZueO9pAKZUxxvinKB4YX2vraem9JMOydn5T1el4CoS7VZxYAFbyCZsaQc0qf3smDsIFmmifqhngX52/syD3s4G72dRlTkjEwyyXQI1o7Bb2JjhQRpvYcO8sgWVqnQGvO2bVnOsuswkL56xdfzHmDx6rVfA=;JZZkAgn8GXoc1aKO4YVMgg=="
---

