---
category: news
title: "Stash Banks On Biometrics, Machine Learning To Support Digital-First ID Verification"
excerpt: "The latest Future Of Identity Report examines how identity verification needs are changing in the financial sector and how machine learning can help meet them."
publishedDateTime: 2021-04-16T08:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
type: article
quality: 69
heat: 89
published: true

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/aufsap21-457x274.jpg"
    width: 457
    height: 274
    isCached: true

related:
  - title: "Chinese court upholds face biometric data collection complaint verdict"
    excerpt: "China’s first legal case concerning facial recognition use reached a second-instance verdict in court this past week in favor of Guo Bing, a law professor at Zhejiang Sci-Tech University who filed a lawsuit last year. The appellate court ordered the ..."
    publishedDateTime: 2021-04-12T19:20:00Z
    webUrl: "https://www.biometricupdate.com/202104/chinese-court-upholds-face-biometric-data-collection-complaint-verdict"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 39
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2019/11/04160101/facial-recognition-for-biometric-access-control-housing.jpeg"
        width: 1600
        height: 1035
        isCached: true
  - title: "Society dictated your face, according to biometrics research and a patent"
    excerpt: "It seems that algorithms can identify someone's name solely by examining a photo and if accurate, the premise could be used in facial recognition algorithms."
    publishedDateTime: 2021-04-12T20:37:00Z
    webUrl: "https://www.biometricupdate.com/202104/society-dictated-your-face-according-to-biometrics-research-and-a-patent"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 23
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2020/05/29144433/face-photos.jpg"
        width: 1140
        height: 760
        isCached: true

secured: "aGEGo53qHwkppjOwVjjGlDTw9tFfVPp9AuaimRB+HNY80vlAgxdtFXzlZzgHXmK5Bf9+Nd2QoLwu50XSSntSNbUPyBqw4aIuml3KwBOsfNLC9fHJxVRZRhgP6WwEzBWYN0awa2aE6THf6MeubgyVVjkvNHC1U/XHlhwrBPPOecknnvE5G7t44qd0jBs3JJcGF1Eq6HprmM8lRs699RNWfxmoKJRKCDd1HqdXWs+P1QwRmNroZ2pm7K+s+DV3n8lQmoPFl8m1Uya2ohTDaEHX3XR1B+oslL8CvET/lUF1dVyPsaZRs9VfD0qq50updFuRz+4nLSGw7WLjZ+8vl0D+Z6JMg4u9F9axohOM7rX4s+w=;nwB0lgWqM0rWqL2fTCDH3A=="
---

