---
category: news
title: "5 Ways To Keep AI Bias Out Of Online Identity Verification"
excerpt: "In these types of surveillance, the quality and robustness of the underlying database is what can fuel bias in the AI models. Modern facial recognition software uses biometrics to map facial features from a photograph or video."
publishedDateTime: 2021-02-01T16:26:00Z
originalUrl: "https://www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/"
webUrl: "https://www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/"
ampWebUrl: "https://www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/amp/"
cdnAmpWebUrl: "https://www-forbes-com.cdn.ampproject.org/c/s/www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/amp/"
type: article
quality: 89
heat: 89
published: true

provider:
  name: Forbes
  domain: forbes.com
  images:
    - url: "https://smartableai.github.io/artificial-intelligence/assets/images/organizations/forbes.com-50x50.jpg"
      width: 50
      height: 50

topics:
  - AWS AI
  - AI

images:
  - url: "https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F600f2a0812e0069c07567088%2F0x0.jpg"
    width: 800
    height: 400
    isCached: true

secured: "O+jbeM/CU2BeNBsmGUae50o9TFuGXJCD98SKyMwhTFhbf0nItdQjYEoFm7QPYKD9tcHb08+44JDNWWzUtHV6yAnrStZoYXUWyrcQupikCJlkBWmqEYoA3YiVoHILUw8N+32vla3L2Ob5qoYusDrJdhhtFmUKbP8InwhOHIg7PKD3fkz9sFgcy+ZorBcHjBCGz+kT1FCf8pmLLtc8mOYq9qEAYCxCLhlKZF5Bpy9TrASWkPnEIyTyC84JmbHZ1UBWWC1iXNuPIp1ahdNO7MwuO5hzei/J+FihCm7k6oUdr4Qs9tsOTsxCJ2zDTzXc9DKV1URxvqanndc4Zq36UkKMZw9O/yztSP/anqth1XHPmwI=;nQK2JzJlmy3jVb9TxAA37w=="
---

