---
category: news
title: "Marble Financial closes acquisition of leading Canadian fintech company, Inverite Verification"
excerpt: "Marble told investors that Inverite’s data aggregator combined with Marble’s personal finance platform MyMarble will create a faster,"
publishedDateTime: 2021-04-12T15:35:00Z
originalUrl: "https://www.proactiveinvestors.com/companies/news/946328/marble-financial-closes-acquisition-of-leading-canadian-fintech-company-inverite-verification-946328.html"
webUrl: "https://www.proactiveinvestors.com/companies/news/946328/marble-financial-closes-acquisition-of-leading-canadian-fintech-company-inverite-verification-946328.html"
ampWebUrl: "https://www.proactiveinvestors.com/companies/amp/news/946328"
cdnAmpWebUrl: "https://www-proactiveinvestors-com.cdn.ampproject.org/c/s/www.proactiveinvestors.com/companies/amp/news/946328"
type: article
quality: 12
heat: -1
published: false

provider:
  name: Proactiveinvestors
  domain: proactiveinvestors.com

topics:
  - AI in Finance
  - AI

related:
  - title: "Marble Financial Completes Acquisition of Canadian Fintech Inverite"
    excerpt: "Marble Financial Inc. (CSE: MRBL; OTC: MRBLF; FSE:2V0), an AI-driven financial technology company that educates and helps Canadians better understand and manage their current cash flow and credit towards a better financial future,"
    publishedDateTime: 2021-04-15T17:18:00Z
    webUrl: "https://www.crowdfundinsider.com/2021/04/174257-marble-financial-completes-acquisition-of-canadian-fintech-inverite/"
    ampWebUrl: "https://www.crowdfundinsider.com/2021/04/174257-marble-financial-completes-acquisition-of-canadian-fintech-inverite/amp/"
    cdnAmpWebUrl: "https://www-crowdfundinsider-com.cdn.ampproject.org/c/s/www.crowdfundinsider.com/2021/04/174257-marble-financial-completes-acquisition-of-canadian-fintech-inverite/amp/"
    type: article
    provider:
      name: Crowdfund Insider
      domain: crowdfundinsider.com
    quality: 44
    images:
      - url: "https://www.crowdfundinsider.com/wp-content/uploads/2015/09/Canada-Money-600x453.jpg"
        width: 600
        height: 453
        isCached: true
  - title: "Leading UK Fintech Firms Now Working with PwC to Streamline Digital Financial Services with AI, Data Analytics"
    excerpt: "Leading UK Fintech firms now working with PwC to streamline digital financial services with AI, data analytics."
    publishedDateTime: 2021-04-16T04:37:00Z
    webUrl: "https://www.crowdfundinsider.com/2021/04/174235-leading-uk-fintech-firms-now-working-with-pwc-to-streamline-digital-financial-services-with-ai-data-analytics/"
    ampWebUrl: "https://www.crowdfundinsider.com/2021/04/174235-leading-uk-fintech-firms-now-working-with-pwc-to-streamline-digital-financial-services-with-ai-data-analytics/amp/"
    cdnAmpWebUrl: "https://www-crowdfundinsider-com.cdn.ampproject.org/c/s/www.crowdfundinsider.com/2021/04/174235-leading-uk-fintech-firms-now-working-with-pwc-to-streamline-digital-financial-services-with-ai-data-analytics/amp/"
    type: article
    provider:
      name: Crowdfund Insider
      domain: crowdfundinsider.com
    quality: 39
    images:
      - url: "https://www.crowdfundinsider.com/wp-content/uploads/2021/01/Big-Ben-Behind-Bars-600x512.jpeg"
        width: 600
        height: 512
        isCached: true
  - title: "OneTrust Completes Acquisition of Ethics and Compliance Leader Convercent"
    excerpt: "Convercent. Join OneTrust CEO Kabir Barday and Convercent CEO Patrick Quinlan at CONVERGE 21: Workshop Edition as they lay out their joint vision for the future of ethics and compliance The Convercent technology,"
    publishedDateTime: 2021-04-15T12:22:00Z
    webUrl: "https://apnews.com/press-release/pr-newswire/technology-business-corporate-news-technology-issues-data-privacy-10f93ed3008e9cbc9d806c42a91e2ac5"
    type: article
    provider:
      name: Associated Press
      domain: apnews.com
    quality: 38
    images:
      - url: "https://apnews.com/images/PaidContent3.png"
        width: 700
        height: 450
        isCached: true

secured: "29MK1TCX7a/cd3chqpeSNzGg+4GjeQO5xRZI9LMtB/LPdnSVVfXyvN2PKn+MLsifINLIh9sOpy30UPpVl03yw04pJntnUaLTTgP1JO6WDweutG1AN7Y1ahb1hHYk17hcAEHueKeEY0O2IjGj6Apr7a1CX6n9s0inb3/LuxlRDPEYXfFWSA6fbGQeYVGqmtrmxJ18Pt+FSDwDPcpV1G6kiV8JzXRAGhHsdcVVPnzkA1E+SDnmbxbIC/O7Yj17r05Q620MfVG1UVcWHmoze3MGBL2SBr+6clG71CbvVD7TCn1u5P0w2iC5JIuJ/P9yDHshkL+ItAgS68r9DaiqaCtQ6s5ZFjjP7VyAH4bIqqBFmLU5R5faWQ51a8D68eQGdY1OytB2IlY0/sAunrkO5nDtYGmbv36Wyjr8wMuuUV5HNZtg0Wz9CLpNnpsdIlJwKRs06c+KAGBHGknZ2BNGzhsfubNTPUn2OR7QnZ6MTb3dJgiZbT+eOvR81YVqhit3PB0uFAokV8fT80e5/dK9wxYDKQ==;lYn+m+QibF4YOkjFwKpuUg=="
---

