---
category: news
title: "Stash Banks On Biometrics, Machine Learning To Support Digital-First ID Verification"
excerpt: "The latest Future Of Identity Report examines how identity verification needs are changing in the financial sector and how machine learning can help meet them."
publishedDateTime: 2021-04-16T08:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
type: article
quality: 69
heat: 99
published: true

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/aufsap21-457x274.jpg"
    width: 457
    height: 274
    isCached: true

related:
  - title: "How Stash Is Tapping Machine Learning, Behavioral Biometrics For Robust, Digital-First Identity Verification"
    excerpt: "In an interview, Caleb Callahan, VP of fraud at personal finance app Stash, discusses the use of machine learning for digital-first identity verification."
    publishedDateTime: 2021-04-19T13:00:00Z
    webUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
    ampWebUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
    cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
    type: article
    provider:
      name: pymnts.com
      domain: pymnts.com
    quality: 42
    images:
      - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/stasfs0421-457x274.jpg"
        width: 457
        height: 274
        isCached: true
  - title: "Applied Recognition brings biometric binding to Sovrin Foundation credentials"
    excerpt: "The partnership allows the Sovrin Foundation to deliver biometric binding to enhance the privacy and security of its digital credentials and digital wallets."
    publishedDateTime: 2021-04-20T21:44:00Z
    webUrl: "https://www.biometricupdate.com/202104/applied-recognition-brings-biometric-binding-to-sovrin-foundation-credentials"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 21
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2019/09/19104531/biometric-card-platform-partnership.jpg"
        width: 696
        height: 392
        isCached: true
  - title: "Applied Recognition and Sovrin Foundation Announce Cooperation on Biometric Binding for Digital Credentials"
    excerpt: "To advance privacy and security of digital identity credentials for consumers, Sovrin is working with Applied Recognition Corp. to deliver biometric binding for"
    publishedDateTime: 2021-04-19T13:00:00Z
    webUrl: "https://www.benzinga.com/pressreleases/21/04/p20681185/applied-recognition-and-sovrin-foundation-announce-cooperation-on-biometric-binding-for-digital-cr"
    ampWebUrl: "https://amp.benzinga.com/amp/content/20681185"
    cdnAmpWebUrl: "https://amp-benzinga-com.cdn.ampproject.org/c/s/amp.benzinga.com/amp/content/20681185"
    type: article
    provider:
      name: Benzinga.com
      domain: benzinga.com
    quality: 6

secured: "42JiZ31gJL+IjgbWsxW7quNWP+e8KRScXxhxaCiqUCUv+9DQf+J0YMH7GmwkQAdSn8yKKt8JL0qP3VGQME+6mCn9+tqki4SWBVqChTdPJzlQnMmJ9qOkbxWOm3tiFcD7PXtgjp5sauEQH4rV0Nnj5PsVV8S9stH193VhSHmYKQ6gxkJvQ7cUvqIQBq4yyBs6dfA+22wFh94RfLDQWQghoyTsitavQ2OhSvH6aeZJt6i63Qll3UDUc+P3VPhyDa16rnG5o0kgTZ/JdpC/sZWlbCODwyJYOaRk7FKz+8mogKTvK6Z5Bd1cKWwgWMgCOR9NFAbY/3UjcLKlX/2LcOpYzsvKc5E85GB47DmNJNpUJWFNq+Ti2Lxal/FC37G4lxRJiCsxHCLFpj9fyCcAxkm6HWBIoRwAY4sr6t+NHotEO+tARWgok/eqHjpUCjFzJPE30iXrAPQO1aDYIDVyuMbDmH6q369uTjp3Q46oCZEI+EVkYMJGRjN4FpIah5/SrJBZWVfWIYitUF+Cs6hSQXYJmw==;32uMYNiVzDGcSya3uISm5A=="
---

