---
category: news
title: "How Stash Is Tapping Machine Learning, Behavioral Biometrics For Robust, Digital-First Identity Verification"
excerpt: "In an interview, Caleb Callahan, VP of fraud at personal finance app Stash, discusses the use of machine learning for digital-first identity verification."
publishedDateTime: 2021-04-19T13:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
type: article
quality: 42
heat: 42
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/stasfs0421-457x274.jpg"
    width: 457
    height: 274
    isCached: true

related:
  - title: "Applied Recognition brings biometric binding to Sovrin Foundation credentials"
    excerpt: "The partnership allows the Sovrin Foundation to deliver biometric binding to enhance the privacy and security of its digital credentials and digital wallets."
    publishedDateTime: 2021-04-20T21:44:00Z
    webUrl: "https://www.biometricupdate.com/202104/applied-recognition-brings-biometric-binding-to-sovrin-foundation-credentials"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 21
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2019/09/19104531/biometric-card-platform-partnership.jpg"
        width: 696
        height: 392
        isCached: true
  - title: "Tascent multi-stage, multi-modal self biometrics enrollment patent could broaden iris recognition use"
    excerpt: "The multi-modal system could be used for securing payments with biometrics, access control, live event access, border control, and law enforcement applications."
    publishedDateTime: 2021-04-20T18:41:00Z
    webUrl: "https://www.biometricupdate.com/202104/tascent-multi-stage-multi-modal-self-biometrics-enrollment-patent-could-broaden-iris-recognition-use"
    type: article
    provider:
      name: Biometric Companies
      domain: biometricupdate.com
    quality: 9
    images:
      - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2021/02/03130907/selfie-biometric-authentication-small.jpg"
        width: 800
        height: 400
        isCached: true
  - title: "Applied Recognition and Sovrin Foundation Announce Cooperation on Biometric Binding for Digital Credentials"
    excerpt: "To advance privacy and security of digital identity credentials for consumers, Sovrin is working with Applied Recognition Corp. to deliver biometric binding for"
    publishedDateTime: 2021-04-19T13:00:00Z
    webUrl: "https://www.benzinga.com/pressreleases/21/04/p20681185/applied-recognition-and-sovrin-foundation-announce-cooperation-on-biometric-binding-for-digital-cr"
    ampWebUrl: "https://amp.benzinga.com/amp/content/20681185"
    cdnAmpWebUrl: "https://amp-benzinga-com.cdn.ampproject.org/c/s/amp.benzinga.com/amp/content/20681185"
    type: article
    provider:
      name: Benzinga.com
      domain: benzinga.com
    quality: 6

secured: "j+8t6LDu6ghV/jVwXvWHLC5SxBIvvSBaoSpZSjTIy5ZacKxV1FXDjdzoerByWiY+Ju/mQ2McauYU5TlY1QktGUY8/T9N+6PlsRK8mnYZstzLjPCGUEAl0Qi8O+TvLuJ0BopqIyVPMG0CXLgvOUzUqir98ILZYlyv+h+G/Ijn1lHdKx5QlKGrq3G49c/qtQNKYlvnr4QONsGgMDeifWVyZIUlsm0TQ5BgyNQBwXFWeZdot3JWfHs2E/28s38h33yR736x15Dov1zLYvORZZslXSstHMHhsJClfPwhuEvLfd6Xx2dBdWuNic0ZlA18cfHGxrdS0mjY5HXybnEENLZnFnWVWloX5nqPOtgfFOBpx9QyaqGgQ/nGyPiu8NPPAwR41Oo8rGchUqvQ9esppMXaBLUjuz65cY/7YvadmFzp7gpHz8jDuya4JfDRBypbSjGVo/YH9s9MEcHgDW09Hy62OJgZOizVuXIQ7aUWdwmvhmQghV9roVsrJ8hHBDTFpq/N8LSX6o4A87dpjDBk4WRsRg==;vDw01QXDbi99buzrq8Y/3w=="
---

