---
category: news
title: "How Stash Is Tapping Machine Learning, Behavioral Biometrics For Robust, Digital-First Identity Verification"
excerpt: "In an interview, Caleb Callahan, VP of fraud at personal finance app Stash, discusses the use of machine learning for digital-first identity verification."
publishedDateTime: 2021-04-19T13:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
type: article
quality: 42
heat: -1
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/stasfs0421-457x274.jpg"
    width: 457
    height: 274
    isCached: true

related:
  - title: "Stash Banks On Biometrics, Machine Learning To Support Digital-First ID Verification"
    excerpt: "The latest Future Of Identity Report examines how identity verification needs are changing in the financial sector and how machine learning can help meet them."
    publishedDateTime: 2021-04-16T08:00:00Z
    webUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
    ampWebUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
    cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
    type: article
    provider:
      name: pymnts.com
      domain: pymnts.com
    quality: 69
    images:
      - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/aufsap21-457x274.jpg"
        width: 457
        height: 274
        isCached: true

secured: "j+8t6LDu6ghV/jVwXvWHLC5SxBIvvSBaoSpZSjTIy5ZacKxV1FXDjdzoerByWiY+Ju/mQ2McauYU5TlY1QktGUY8/T9N+6PlsRK8mnYZstzLjPCGUEAl0Qi8O+TvLuJ0BopqIyVPMG0CXLgvOUzUqir98ILZYlyv+h+G/Ijn1lHdKx5QlKGrq3G49c/qtQNKYlvnr4QONsGgMDeifWVyZIUlsm0TQ5BgyNQBwXFWeZdot3JWfHs2E/28s38h33yR736x15Dov1zLYvORZZslXSstHMHhsJClfPwhuEvLfd6Xx2dBdWuNic0ZlA18cfHGxrdS0mjY5HXybnEENLZnFnWVWloX5nqPOtgfFOBpx9QyaqGgQ/nGyPiu8NPPAwR41Oo8rGchUqvQ9esppMXaBLUjuz65cY/7YvadmFzp7gpHz8jDuya4JfDRBypbSjGVo/YH9s9MEcHgDW09Hy62OJgZOizVuXIQ7aUWdwmvhmQghV9roVsrJ8hHBDTFpq/N8LSX6o4A87dpjDBk4WRsRg==;vDw01QXDbi99buzrq8Y/3w=="
---

