---
category: news
title: "Marble Financial closes acquisition of leading Canadian fintech company, Inverite Verification"
excerpt: "Marble told investors that Inverite’s data aggregator combined with Marble’s personal finance platform MyMarble will create a faster,"
publishedDateTime: 2021-04-12T15:35:00Z
originalUrl: "https://www.proactiveinvestors.com/companies/news/946328/marble-financial-closes-acquisition-of-leading-canadian-fintech-company-inverite-verification-946328.html"
webUrl: "https://www.proactiveinvestors.com/companies/news/946328/marble-financial-closes-acquisition-of-leading-canadian-fintech-company-inverite-verification-946328.html"
ampWebUrl: "https://www.proactiveinvestors.com/companies/amp/news/946328"
cdnAmpWebUrl: "https://www-proactiveinvestors-com.cdn.ampproject.org/c/s/www.proactiveinvestors.com/companies/amp/news/946328"
type: article
quality: 12
heat: 12
published: false

provider:
  name: Proactiveinvestors
  domain: proactiveinvestors.com

topics:
  - AI in Finance
  - AI

secured: "29MK1TCX7a/cd3chqpeSNzGg+4GjeQO5xRZI9LMtB/LPdnSVVfXyvN2PKn+MLsifINLIh9sOpy30UPpVl03yw04pJntnUaLTTgP1JO6WDweutG1AN7Y1ahb1hHYk17hcAEHueKeEY0O2IjGj6Apr7a1CX6n9s0inb3/LuxlRDPEYXfFWSA6fbGQeYVGqmtrmxJ18Pt+FSDwDPcpV1G6kiV8JzXRAGhHsdcVVPnzkA1E+SDnmbxbIC/O7Yj17r05Q620MfVG1UVcWHmoze3MGBL2SBr+6clG71CbvVD7TCn1u5P0w2iC5JIuJ/P9yDHshkL+ItAgS68r9DaiqaCtQ6s5ZFjjP7VyAH4bIqqBFmLU5R5faWQ51a8D68eQGdY1OytB2IlY0/sAunrkO5nDtYGmbv36Wyjr8wMuuUV5HNZtg0Wz9CLpNnpsdIlJwKRs06c+KAGBHGknZ2BNGzhsfubNTPUn2OR7QnZ6MTb3dJgiZbT+eOvR81YVqhit3PB0uFAokV8fT80e5/dK9wxYDKQ==;lYn+m+QibF4YOkjFwKpuUg=="
---

