---
category: news
title: "How Stash Is Tapping Machine Learning, Behavioral Biometrics For Robust, Digital-First Identity Verification"
excerpt: "In an interview, Caleb Callahan, VP of fraud at personal finance app Stash, discusses the use of machine learning for digital-first identity verification."
publishedDateTime: 2021-04-19T13:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-machine-learning-behavioral-biometrics-identity-verification/amp/"
type: article
quality: 42
heat: -1
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/stasfs0421-457x274.jpg"
    width: 457
    height: 274
    isCached: true

related:
  - title: "Stash Banks On Biometrics, Machine Learning To Support Digital-First ID Verification"
    excerpt: "The latest Future Of Identity Report examines how identity verification needs are changing in the financial sector and how machine learning can help meet them."
    publishedDateTime: 2021-04-16T08:00:00Z
    webUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
    ampWebUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
    cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
    type: article
    provider:
      name: pymnts.com
      domain: pymnts.com
    quality: 69
    images:
      - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/aufsap21-457x274.jpg"
        width: 457
        height: 274
        isCached: true

secured: "/bcgji7GMJIWfl9HYTGe4kYpnfO4Va7ldwS9OO394kZCLspYvyiXBVx/A3pAbvjcwJpDAfjdaQJXqfuDR98fu8g5D9wEyoIyGlVteJ/PNM0q6URiddwADqf3c0j7LvN3JnoQbnR5OKZpeq65ZzWEq025vlJkfNnG8CPlsDj4Pq2rnF1oiWoS19u8BKMlXmE0WekjaVJ15jKFh29vS1hXvzOePmGx+n4cpElaJS1RRfVl9JovtpgTEZDmSwwHIWuWRTwz7g96bJC8LkmcpNbVv9vSEuqJRbxeDjPt3Lo0iaA2vfMUGiWsP60KEDOE1NAWY45ESeK7GHe8LTdFBnn9Xw0vHLplghEE9eKJ7sVkFwM=;1K0bTwXjJM0DBAMNzQZQZg=="
---

