---
category: news
title: "5 Ways To Keep AI Bias Out Of Online Identity Verification"
excerpt: "In these types of surveillance, the quality and robustness of the underlying database is what can fuel bias in the AI models. Modern facial recognition software uses biometrics to map facial features from a photograph or video."
publishedDateTime: 2021-02-01T16:26:00Z
originalUrl: "https://www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/"
webUrl: "https://www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/"
ampWebUrl: "https://www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/amp/"
cdnAmpWebUrl: "https://www-forbes-com.cdn.ampproject.org/c/s/www.forbes.com/sites/jumio/2021/02/01/5-ways-to-keep-ai-bias-out-of-online-identity-verification/amp/"
type: article
quality: 89
heat: 99
published: true

provider:
  name: Forbes
  domain: forbes.com
  images:
    - url: "https://smartableai.github.io/artificial-intelligence/assets/images/organizations/forbes.com-50x50.jpg"
      width: 50
      height: 50

topics:
  - AWS AI
  - AI

images:
  - url: "https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F600f2a0812e0069c07567088%2F0x0.jpg"
    width: 800
    height: 400
    isCached: true

related:
  - title: "The Role Of Bias In Artificial Intelligence"
    excerpt: "Artificial intelligence (AI) has evolved exponentially, from driverless vehicles to voice automation in households, and is no longer just a term from sci-fi books and movies. The future of artificial intelligence comes sooner than the projections that were seen in the futuristic Minority Report film."
    publishedDateTime: 2021-02-04T13:00:00Z
    webUrl: "https://www.forbes.com/sites/forbestechcouncil/2021/02/04/the-role-of-bias-in-artificial-intelligence/"
    ampWebUrl: "https://www.forbes.com/sites/forbestechcouncil/2021/02/04/the-role-of-bias-in-artificial-intelligence/amp/"
    cdnAmpWebUrl: "https://www-forbes-com.cdn.ampproject.org/c/s/www.forbes.com/sites/forbestechcouncil/2021/02/04/the-role-of-bias-in-artificial-intelligence/amp/"
    type: article
    provider:
      name: Forbes
      domain: forbes.com
    quality: 89
    images:
      - url: "https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f7376dc40469ab26495a8e5%2F0x0.jpg"
        width: 1200
        height: 900
        isCached: true

secured: "Ta7tVnvD3Wvy/uPN+3XzBsNg1uzRHICyJ5U3HfyNaOUVMvFYlmUEim7Fbs+df540B06GS0uUtiLeMetfMgYfhFvclHDd9PoLAiZqUuU1nA1peEBJPMK420aqqeUKEqhxiY9a4s/zS3syd1inoXIXy3zpKE7DEA3nnFIScWvG29xCu4KeyD+jBMloFhUBfsLGBWV1w0ea63ngAI3zc8k0FfQlLje1vP1VEBZBGRLG9Kz/nHSqkodV968NLD0NKim+KHO5IvMroqNfvI0m90fOE8TRn7I2gZC8T9H4JRG8reZhiQcWICtxyMYufCoynjnu0rTnTY6OiiVp+Tev5FRIoNPqK2C7rtYW5/K+XAvrqOqi/tp1WF327PKUf729T6xjW2xp7gNLUFSKAQ7gAMOB9XQZbUuLi8p9uprEndsA/S5eOL8bangOOGELjgZ2jGfmxcP5U578KGgD2/rlADEiuYwUh6gS60Zhp3RMONRDBmIfFZF58h+RUB58oFb9vY8WgCqjHswMT+a6nbSAE54V8Q==;8Bo8qJQ3TmyMVmn4nAtEPw=="
---

