---
category: news
title: "British Esports partners with IBM, Yoti on biometric age verification"
excerpt: "The British Esports Association has announced plans to restrict underage participation through the use of Yoti’s biometrics-based age checks."
publishedDateTime: 2021-02-18T22:28:00Z
originalUrl: "https://www.biometricupdate.com/202102/british-esports-partners-with-ibm-yoti-on-biometric-age-verification"
webUrl: "https://www.biometricupdate.com/202102/british-esports-partners-with-ibm-yoti-on-biometric-age-verification"
type: article
quality: 24
heat: 24
published: false

provider:
  name: Biometric Companies
  domain: biometricupdate.com

topics:
  - IBM AI
  - AI

images:
  - url: "https://d1sr9z1pdl3mb7.cloudfront.net/wp-content/uploads/2021/02/12130147/online-age-verification-small.jpg"
    width: 750
    height: 500
    isCached: true

secured: "FSFaeHkcslYZoFWx0p7DaVwjpM7dVJiAb7FMA6lTiOlK4p0v0PF+rlUlzH9gclt0vGjKgnla8HOeeFBs0BHJUj+yJZWyi25qJZ9EGU275Hy2m5Rfr/nUqkwZy8YQDR9n6LcklaYJT3M99/FhNXb/H/7s4+8KzZHGgdlTSoCtfYC83L5yvWrbke1v3HHGnHIV3mDG47sfenta7xTaVT8/Zxm60D7esu2BG7yIQpGIrh1EE/7yrmmHcPH5Pd0b4Pz8/2uRuL4ddHANV2rgY8yY2kSgb9yMu3uLpfCUTn8HNDa2zyVMVLAr6ISp7CrOSX9bGTqllgIj+6MptwQgVD5oavc3e2wenMrDLVin5FmWQj4=;gozzHg3xTEQMjGk5y4bbfQ=="
---

