---
category: news
title: "Stash Banks On Biometrics, Machine Learning To Support Digital-First ID Verification"
excerpt: "The latest Future Of Identity Report examines how identity verification needs are changing in the financial sector and how machine learning can help meet them."
publishedDateTime: 2021-04-16T08:00:00Z
originalUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
webUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/"
ampWebUrl: "https://www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
cdnAmpWebUrl: "https://www-pymnts-com.cdn.ampproject.org/c/s/www.pymnts.com/identity/2021/stash-banks-on-biometrics-machine-learning-to-support-digital-first-id-verification/amp/"
type: article
quality: 69
heat: 69
published: false

provider:
  name: pymnts.com
  domain: pymnts.com

topics:
  - AI in Finance
  - AI
  - Machine Learning

images:
  - url: "https://securecdn.pymnts.com/wp-content/uploads/2021/04/aufsap21-457x274.jpg"
    width: 457
    height: 274
    isCached: true

secured: "42JiZ31gJL+IjgbWsxW7quNWP+e8KRScXxhxaCiqUCUv+9DQf+J0YMH7GmwkQAdSn8yKKt8JL0qP3VGQME+6mCn9+tqki4SWBVqChTdPJzlQnMmJ9qOkbxWOm3tiFcD7PXtgjp5sauEQH4rV0Nnj5PsVV8S9stH193VhSHmYKQ6gxkJvQ7cUvqIQBq4yyBs6dfA+22wFh94RfLDQWQghoyTsitavQ2OhSvH6aeZJt6i63Qll3UDUc+P3VPhyDa16rnG5o0kgTZ/JdpC/sZWlbCODwyJYOaRk7FKz+8mogKTvK6Z5Bd1cKWwgWMgCOR9NFAbY/3UjcLKlX/2LcOpYzsvKc5E85GB47DmNJNpUJWFNq+Ti2Lxal/FC37G4lxRJiCsxHCLFpj9fyCcAxkm6HWBIoRwAY4sr6t+NHotEO+tARWgok/eqHjpUCjFzJPE30iXrAPQO1aDYIDVyuMbDmH6q369uTjp3Q46oCZEI+EVkYMJGRjN4FpIah5/SrJBZWVfWIYitUF+Cs6hSQXYJmw==;32uMYNiVzDGcSya3uISm5A=="
---

