---
category: news
title: "Marble Financial closes acquisition of leading Canadian fintech company, Inverite Verification"
excerpt: "Marble told investors that Inverite’s data aggregator combined with Marble’s personal finance platform MyMarble will create a faster,"
publishedDateTime: 2021-04-12T15:35:00Z
originalUrl: "https://www.proactiveinvestors.com/companies/news/946328/marble-financial-closes-acquisition-of-leading-canadian-fintech-company-inverite-verification-946328.html"
webUrl: "https://www.proactiveinvestors.com/companies/news/946328/marble-financial-closes-acquisition-of-leading-canadian-fintech-company-inverite-verification-946328.html"
ampWebUrl: "https://www.proactiveinvestors.com/companies/amp/news/946328"
cdnAmpWebUrl: "https://www-proactiveinvestors-com.cdn.ampproject.org/c/s/www.proactiveinvestors.com/companies/amp/news/946328"
type: article
quality: 12
heat: -1
published: false

provider:
  name: Proactiveinvestors
  domain: proactiveinvestors.com

topics:
  - AI in Finance
  - AI

related:
  - title: "Vancouver-based fintech to offer AI-powered personal finance platform"
    excerpt: "The AI-powered platform will be available to Marble’s Mortgage ... channel of opportunity for Marble to empower Canadians using its holistic personal finance fintech solution that provides precise expert curated recommendations, insights, and financial ..."
    publishedDateTime: 2021-04-12T07:00:00Z
    webUrl: "https://www.mortgagebrokernews.ca/news/technology/vancouverbased-fintech-to-offer-aipowered-personal-finance-platform-354849.aspx"
    type: article
    provider:
      name: Mortgage Broker News
      domain: mortgagebrokernews.ca
    quality: 54
    images:
      - url: "https://cdn-res.keymedia.com/cms/images/ca/046/0379_637538069040540764.jpg"
        width: 500
        height: 333
        isCached: true

secured: "29MK1TCX7a/cd3chqpeSNzGg+4GjeQO5xRZI9LMtB/LPdnSVVfXyvN2PKn+MLsifINLIh9sOpy30UPpVl03yw04pJntnUaLTTgP1JO6WDweutG1AN7Y1ahb1hHYk17hcAEHueKeEY0O2IjGj6Apr7a1CX6n9s0inb3/LuxlRDPEYXfFWSA6fbGQeYVGqmtrmxJ18Pt+FSDwDPcpV1G6kiV8JzXRAGhHsdcVVPnzkA1E+SDnmbxbIC/O7Yj17r05Q620MfVG1UVcWHmoze3MGBL2SBr+6clG71CbvVD7TCn1u5P0w2iC5JIuJ/P9yDHshkL+ItAgS68r9DaiqaCtQ6s5ZFjjP7VyAH4bIqqBFmLU5R5faWQ51a8D68eQGdY1OytB2IlY0/sAunrkO5nDtYGmbv36Wyjr8wMuuUV5HNZtg0Wz9CLpNnpsdIlJwKRs06c+KAGBHGknZ2BNGzhsfubNTPUn2OR7QnZ6MTb3dJgiZbT+eOvR81YVqhit3PB0uFAokV8fT80e5/dK9wxYDKQ==;lYn+m+QibF4YOkjFwKpuUg=="
---

